{% extends 'layout.html' %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <form action="/addcash" method="post">
        <h4>Enter your password</h4>
        <br>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>

        <br>
        <h4>Enter the amount of cash you want to add</h4>
        <br>
        <div class="mb-3">
            <input  class="form-control mx-auto w-auto" type="number" name="cash" step="0.01" min="0.01" placeholder="0.00">
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
    </form>

{% endblock %}
