{% extends 'layout.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <h4>Enter your curret password</h4>
        <br>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Current Password" type="password">
        </div>

        <br>
        <h4>Enter your new password </h4>
        <br>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Update Password</button>
    </form>
{% endblock %}
